*.toc
dict.png
android_app/main.py
.vscode/settings.json
*.spec
build/main/base_library.zip
*.pyz
*.pkg
*.exe.manifest
*.pyc
*.pyd
*.dll
italian.py
*.msg
*.enc
*.tcl
LICENSE
INSTALLER
METADATA
WHEEL
RECORD
__base__
CET
*.ttf
*.DS_Store