*.toc
dict.png
android_app/main.py
.vscode/settings.json
*.spec
build/main/base_library.zip
*.pyz
*.pkg
*.exe.manifest
*.pyc
*.pyd
*.dll
italian.py
*.msg
*.enc
*.tcl
LICENSE
INSTALLER
METADATA
WHEEL
RECORD
__base__
CET
*.ttf
*.DS_Store
*.exe
*.txt
*.html
*.zip
customtkinter
*.eps
README
REQUESTED
*.css
*.js
*.odt
*.tex
*.sty
*.typed
*.APACHE
*.PSF
*.BSD
Greenwich
Hongkong
HST
Iceland
Iran
Israel
Jamaica
base_library
*GMT
*GB
Egypt
Eire
EST
tclIndex
*.tm
Japan
Navajo
*NZ
Portugal
Poland
PRC
ROK
ROC
Singapore
WET
Zulu
logo64.gif
logo100.gif
logoLarge.gif
logoMed.gif
pwrdLogo75.gif
pwrdLogo100.gif
pwrdLogo150.gif
pwrdLogo175.gif
pwrdLogo200.gif
tai-ku.gif
dist
